$Cream: rgb(240, 248, 255);
$LightSlate: rgb(119, 136, 153);
$SlateGradient: linear-gradient(
  145deg,
  rgba(115, 115, 115, 0.15) 15%,
  rgb(43, 45, 47) 80%
);
$Slate: rgb(64, 67, 70);
$DarkSlate: rgb(45, 45, 50);
$DarkestSlate: rgb(22, 23, 24);
$LightestAqua: rgb(150, 255, 250);
$LightAqua: rgb(128, 255, 212);
$Aqua: rgb(125, 207, 180);
$DarkAqua: rgb(95, 158, 160);
$BlackFilm: rgba(0, 0, 0, 0.5);

$Title: 72px;
$Header: 36px;
$Subtitle: 24px;
$Body: 22px;
$Mobile: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

body {
  background-color: $DarkSlate;
}

.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .hero {
    background: $SlateGradient;
    border-radius: 2rem;
    padding: 1vw 2vw 2vw;
    box-shadow: 5px 5px 4px $DarkestSlate, -5px -5px 4px $Slate;
    text-align: center;
    display: flex;
    flex-direction: column;

    .title {
      font-size: $Title;
      font-weight: 700;
      color: $Cream;
      margin-bottom: 2rem;
    }

    .content {
      display: flex;

      .column {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        color: $LightAqua;
        font-size: $Subtitle;
        width: 2rem;
        height: 59vh;
        border: 1px solid $BlackFilm;

        #data {
          width: 2rem;
          height: 0.056vh;
          margin: 0 auto;
          background-color: $LightAqua;
          display: none;
        }

        .X {
          text-align: center;
          margin: 0.25rem 0 0;
          border: 1px solid $LightAqua;
        }
      }

      #Y {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        border: 1px solid $LightAqua;
        height: 55.5vh;
        width: 3rem;
        align-items: center;

        p {
          text-align: center;
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-items: center;
    font-size: $Header;
    font-weight: 700;
    color: $Cream;
    width: 35vw;
    text-align: center;

    .description {
      color: $LightAqua;
      text-shadow: 0.2rem 0.2rem 0.2rem $DarkAqua;
    }

    .slidecontainer {
      width: 30vw;
    }

    .slider {
      margin: 1vw 0;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 25px;
      background: $BlackFilm;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: $LightAqua;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: $LightAqua;
      cursor: pointer;
    }

    #output {
      font-size: $Header;
      font-weight: 700;
      color: $Cream;
    }

    .buttons {
      display: flex;
      gap: 2vw;

      .button {
        background: $SlateGradient;
        border-radius: 2rem;
        box-shadow: 0 0 25px $LightSlate;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: $Header;
        font-weight: 700;
        color: $LightAqua;
        padding: 2vw 4vw;
        border: none;
        text-shadow: 0.15rem 0.15rem 0.15rem $DarkAqua;
      }

      .button:hover {
        color: $Cream;
        box-shadow: 0 0 25px $LightAqua;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1280px) {
  .landing {
    flex-direction: column;
    gap: 4vw;
    margin: 4vw auto;

    .main {
      width: auto;
      margin: 0 10vw;

      .slidecontainer {
        width: 60vw;
      }
    }
  }
}
